.DS_Store
*.xmpi
*.acn
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glo
*.glsdefs
*.ist
*.lof
*.log
*.lot
*.run.xml
*.synctex.gz
*.toc
*.glg
*.gls
*.lol
*.acr
*.alg
.vscode
minted-caches
svg-inkscape
settings.json
